<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>

	<!-- <link rel="stylesheet" href="./css/layout.css"></link>
    <link rel="stylesheet" href="./css/style.css"></link> -->
	<title>A list of Reviews Categories</title>
	
</head>

<body>

	<div class="categories_container">
	
		<header class="header">
			<h1>A List of Review Categories</h1>
		</header>

		<ul class="categories" th:each="potion: ${potionsModel}">
			<li> <a th:text="${potion.ItemName}"></a> </li>
		</ul>
		
		<footer class="footer">
			<p>Some info on books i have read.</p>
		</footer>
		
	</div>

</body>
</html>